<html> 
<head>
<title>Flavor Finder</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <header>
        <h1>Flavor Finder</h1>
         <nav>
             <ul>
                 <li><a class="highlight" href="\">Home</a></li>
                 <li><a href="\search_by_title">Search by Recipe Title</a></li>
                 <li><a href="#">Search by Ingredients</a></li>
                 <li><a href="/random">Random Recipes</a></li>
                 <li><a href="/all_recipes">All Recipes</a></li>
                 <li><a href="#">FAQ</a></li>
             </ul>
         </nav>
     </header>

    <div>
        <h2>Welcome to Flavor Finder</h2>
        <p>This website allows users to find random recipes, or to search for recipes by title or by ingredients. This way anybody can find a delicious recipe to fit any situation.</p>
    </div>

    <div class="highlight">
        <h2>Featured Recipe</h2>
        <p>Here is the featured recipe for today!</p>
        <a href="">NEED TO FIX</a>
    </div>

    <div>
    <h2>Our Favorite Recipes</h2>
        <div class="all_fav_recipes">
            <div class="fav_recipe">
                <h3>Marc</h3>
                <a href="/display_recipe/{{marc_recipe.get_id()}}">{{marc_recipe.get_title()}}</a>
            </div>
            <div class="fav_recipe">
                <h3>Willan</h3>
                <a href="/display_recipe/{{willan_recipe.get_id()}}">{{willan_recipe.get_title()}}</a>
            </div>
            <div class="fav_recipe">
                <h3>Anika</h3>
                <a href="/display_recipe/{{anika_recipe.get_id()}}">{{anika_recipe.get_title()}}</a>
            </div>
            <div class="fav_recipe">
                <h3>Allison</h3>
                <a href="/display_recipe/{{allison_recipe.get_id()}}">{{allison_recipe.get_title()}}</a>
            </div>
        </div>
    </div>

</body>