<html>
<head>
<title>Random Search</title>
<link rel="stylesheet" href="{{url_for('static',filename='randomstyle.css')}}">
</head>
<body>
<h1>Flavor Finder</h1>

<nav>
    <ul>
    <li><a href="/homepage">Home</a></li>
    <li><a href="#search">Search</a></li>
    <li><a href="/random">Random</a></li>
    <li><a href="#all">All</a></li>
    <li><a href="#faq">FAQ</a></li>
    </ul>
    </nav>

<div>
<h2>Random Search</h2>

<p>Enter a number of recipes and click the button below to find a random flavor!</p>
<form action="/random" method="POST">
    <label for="num_recipes">How many recipes?</label>
    <input type="text" id="ingredients" name="num_recipes" placeholder="Enter a number" required>
    <button type="submit">Generate</button>
  </form>
  
</body>
</html>