<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Your Random Recipes</title>
    <link rel="stylesheet" href="{{url_for('static',filename='style.css')}}">
</head>
<body>
    <h1>Flavor Finder</h1>
    <nav>
        <ul>
            <li><a href="\">Home</a></li>
            <li><a href="\search_by_title">Search by Recipe Title</a></li>
            <li><a href="\custom">Search by Ingredients</a></li>
            <li><a href="\random">Random Recipes</a></li>
            <li><a href="\all_recipes">All Recipes</a></li>
            <li><a href="#faq">FAQ</a></li>
        </ul>
    </nav>

        <h2>Your Random Recipes</h2>
        
            {% if recipes %}
            <ul>
                {% for recipe in recipes %}
                <li>
                    <a href="{{ url_for('display_recipe', recipe_id=recipe[0]) }}">
                        {{ recipe[1] }}
                    </a>
                </li>
                {% endfor %}
            </ul>
            {% else %}
            <p>No recipes to show. Try generating some first.</p>
            {% endif %}

    <a href="{{ url_for('random') }}" class="button">Generate More</a>

</body>
</html>
