<!DOCTYPE html>
<html>
<head>
    <title>Custom Search</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='datastyle.css') }}">
</head>
<body>
    <h1>Custom Search</h1>
    <nav>
        <ul>
            <li><a href="#home">Home</a></li>
            <li><a href="#custom">Custom</a></li>
            <li><a href="#random">Random</a></li>
            <li><a href="#all">All</a></li>
        </ul>
    </nav>
    <div class="include"></div>
    <div class="exclude"></div>
</body>
</html>